.section10 {
  .container{
    padding-top: 8.7rem;
    padding-left: 10.85rem;
  }

}

.solution{

  h2.title{
    margin-bottom: 0;
  }
  h3{
    font-size: 5.87rem;
    line-height: 1.1;
    margin-top: 0;
  }

  img{
    width: 85rem;
    transform: scaleX(.8) translate(-17rem, -4rem);
  }
}
