.section14{
  &__span{
    color: #00396E;
    font-size: 12rem;
  }
  &__title{
    color: #49423d;
    font-size: 5rem;
  }
  &-inner{
    display: flex;
    justify-content: space-between;
  }
  &__image{
    height: 80.7rem;
    margin-top: -11rem;
    width: 83rem;
  }
  &__image{
    height: 120rem;
    width: 90rem;
  }
}
.text-list__item{
  color: #49423d;
  font-style: bold;
  font-size: 4rem;
  margin-bottom: 5.3rem;
}
.text-list__item span{
  color: #00396E;
}

