.section12{
  &__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__items_item{
    text-align: center;
  }
  &__item-image{
    width: 44rem;
    margin-top: -35px;
    height: 44rem;
  }
  &__item-title{
 font-size: 8rem;
  }
  &__item-caption{
font-size: 4rem;
  }
}
