
.section{
    background-color: #F8FCFF;
    position: relative;

    .container{

        height: 112.6rem;
        padding-top: 9.2rem;
        padding-left: 12rem;
        position: relative;

        @media screen and (max-width: 800px){
          height: auto;
        }
        & > *{
            position: relative;
            z-index: 2;
        }
        .img{
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;

            //opacity: 0;
        }

        &::before,
        &::after{
            content: "";
            position: absolute;
            top: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
        }
        &::before{
            background-image: url(../img/svg/bg3.svg);
            z-index: 1;
            left: 0;
        }
        &::after{
            transform: translateX(84.9%);
            background-image: url(../img/svg/bg4.svg);
            right:  0;
        }
        @media screen and (max-width: 800px){
          &::after, &::before{
            display: none;
            background-color: #f7faf9;
          }
        }
    }

}
.section-back{
    .container{
        &::before{
            background-image: url(../img/svg/bg4.svg);
            z-index: 1;
            left: 0;
        }
        &::after{
            background-image: url(../img/svg/bg4.svg);
            right: inherit;
            transform: translateX(-84.9%) scaleX(-1);
        }
    }
}

h2{
    &.title{
        font-size: 12.5rem;
        color: #00396E;
        margin-top: 0;
        font-weight: 900;
        line-height: 1.1;
        text-transform: uppercase;
        @media screen and (max-width: 800px){
          font-size: 8rem;
        }
    }
}

/*section item*/
.section1{
    h2{
        &.title{
            max-width: 65rem;

            margin-bottom: 1.6rem;
        }
    }
}

.how-works__item:not(:last-child){
    position: relative;
    &::after{
        content: "";
        background-image: url(../img/tm-corner.webp);
        background-size: cover;
        position: absolute;
        right: 0;
        top: 17.5rem;
        width: 15.7rem;
        height: 18rem;
        transform: translateX(100%);

        @media screen and (max-width: 800px){
          display: none;
        }

    }
}



.how-works__head{
    font-size: 3.88rem;
    color: #3e3e3e;
    font-weight: 600;
    max-width: 41rem;
    line-height: 1.2;
    min-height: 14.13rem;
     margin-bottom: 7.5rem;
}

.how-works__content{
    font-family: "Montserrat", sans-serif;
    font-size: 3.9rem;
    line-height: 1.2;
    max-width: 47rem;
    color: #00396e
}


.how-works__list{
    display: flex;
   justify-content: space-between;
}

.how-works__item
{
    &:nth-child(1){

        .how-works__img{
            margin-left: 9rem;
            img{
                width: 13.2rem;
                height: 14.2rem;
            }
        }
    }

    &:nth-child(2){
        width: 46rem;
        margin-right: 4rem;
        .how-works__img {
            margin-top: 1rem;
            margin-bottom: 4rem;
            margin-left: 10rem;
            img{
                width: 14rem;
                height: 14rem;
            }
        }
    }
    &:nth-child(3){
        margin-right: 9.8rem;
        .how-works__img{
            margin-bottom: 3.75rem;
            margin-left: 3rem;
            img{
                object-fit: contain;
                width: 13.2rem;
                height: 15.2rem;
                transform: translateY(-0.5rem);
            }
        }
    }

}



.how-works__img{
    margin-bottom: 5rem;
}

.ul-reset{
  list-style: none;
  padding: 0;
  margin: 0;
}


.section2{
  .container{
    padding-left: 9.7rem;
    padding-top: 8.4rem;
  }
  h2.title{
    margin-bottom: 9.5rem;
  }

  ul{
    margin-left: 2rem;
    font-size: 5rem;
    color: #4c4c4c;
    font-weight: 600;
    li{
      display: flex;
      align-items: flex-start;
      &:first-child{
        img{
          width: 19.8rem;
          height: 10.3rem;
        }
      }
      &:nth-child(2){
        margin-top: 8.5rem;
        img{
          margin-top: 2rem;
          width: 20.1rem;
          height: 10.3rem;
        }
        div {
          margin-left: 4.3rem;

        }
      }
      &:last-child{
        margin-top: 9.75rem;
        img{
          width: 20.2rem;
          height: 12.5rem;
        }
        div{
          margin-left: 4.2rem;
          margin-top: 2rem;
        }
      }
    }

    div{
      margin-left: 4.8rem;
      p{
        margin-top: 3.2rem;
        font-size: 4.35rem;
      }
      small{
        display: block;
        font-size: 3rem;
        margin-top: 0.45rem;
      }
    }

  }
  .architecture{
    position: relative;
    &::before{
      content: "";
      background-image: url(../img/arhitek4.webp);
      background-size: cover;
      width: 52em;
      height: 52.985em;
      position: absolute;
      right: 6.5rem;
      bottom: 0;
    }
    &::after{

      content: "";
      background-image: url(../img/arhitek5.webp);
      background-repeat: repeat-x;
      width: 13em;
      height: 72.65rem;
      position: absolute;
      right: -0.1rem;
      bottom: 5.79rem;
      @media screen and (max-width: 800px){
        display: none;
      }
    }
  }
}


.differences__text{
  line-height: 1.2;
  font-size: 3.9rem;
  color: #00396E;
  max-width: 135rem;
}
.differences__list{
  display: flex;
  position: relative;
  margin-left: 1rem;

}
.differences__list-first{
  color: #00396E;
  & > div:first-child{
    font-size: 22.9rem;
    font-weight: 900;
    line-height: .9;
    display: flex;

    &::after{
      content: "+";
      color: #00396E;
      font-weight: 700;
      transform: translateY(1.5rem);
    }
  }
  & > div:last-child{
    font-size: 9.1rem;
    margin-left: 1rem;
    line-height: 1;
    margin-top: 9rem;
    text-transform: lowercase;
  }
}
.differences{
  display: flex;
  flex-direction: column;
}
.differences__list .h3{
  text-align: center;
  color: #00396E;
  font-weight: 600;
  font-size: 4.5rem;
  margin-top: 5.3rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}
.differences__list .h3 ~ p{
  text-align: center;
  font-size: 3.34rem;
  color: #49423d;/*темно серый*/
}
.differences__list{
  li:nth-child(2){
    margin-left: 5.5rem;
    .h3{
      margin-bottom: 4.5rem;
    }

  }
  li:nth-child(3){
    margin-left: 7.75rem;

    .h3{
      margin-bottom: 9rem;
    }
  }
  li:nth-child(4){
    margin-left: 8rem;
    .h3{
      margin-bottom: 9rem;
    }
  }
}

.differences__img{
  display: flex;
  justify-content: flex-end;
  padding-right: 10rem;
  img{
    width: 137rem;
  }
}



.section3{
  .container{
    padding-left: 9.69rem;
  }
}
