.section14 {
  .container {
    padding-top: 8.3rem;
    padding-left: 11rem;
  }
  h3 {
    font-size: 5.93rem;
    text-transform: none;
  }
}
.section14-inner__image img {
  width: 71.25rem;
  transform: translate(-6.65rem, -13.8rem);
}


