<footer id="footer" class="footer">
  <div class="container">
    <!--<img class="img" src="img/footer.webp" alt="">-->
    <img class="img" src="img/bg5.webp" alt="">
    <h2 class="footer__title  wow animate__slideInUp">СПАСИБО!</h2>
    <div class="footer-inner">
      <div class="footer-inner__left footer-inner__item  wow animate__slideInUp">
        <h3 class="footer__subtitle">Айна <br>
          Кочумова</h3>
        <div class="footer-inner__links">
          <a class="footer__links-item" href="tel:+79032374964"> Тел.: + 7 903 237 49 64
          </a><br>
          <a class="footer__links-item" href="mailto:a.kochumova@tnative.ru">E-mail:a.kochumova@tnative.ru</a>
        </div>
      </div>
      <div class="footer-inner__right footer-inner__item  wow animate__slideInUp">
        <h3 class="footer__subtitle">
          Микаэль <br>
          Гусейнов
        </h3>
        <div class="footer-inner__links">
          <a class="footer__links-item" href="tel:+79260098151"> Тел.: + 7 926 009-81-51
          </a><br>
          <a class="footer__links-item" href="mailto:mguseinov@tnative.ru">E-mail: mguseinov@tnative.ru</a>
        </div>
      </div>
    </div>
  </div>
</footer>
