<header class="header ">
  <div class="header-menu__body">
    <button class="header__burger">
      <span class="header__burger-item"></span>
      <span class="header__burger-item"></span>
      <span class="header__burger-item"></span>
    </button>
    <nav class="header__menu">
      <ul class="header__list">
        <li class="header__menu-item">
          <a class="header__list-link" href="#">Contacts</a>
        </li>
        <li class="header__menu-item">
          <a class="header__list-link" href="#">Contacts</a>
        </li>
        <li class="header__menu-item">
          <a class="header__list-link" href="#">Contacts</a>
        </li>
        <li class="header__menu-item">
          <a class="header__list-link" href="#">Contacts</a>
        </li>
        <li class="header__menu-item">
          <a class="header__list-link" href="#">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="container">
    <img class="img" src="img/bg1.webp" alt="">
  </div>
  <div class="container">
    <img class="img" src="img/bg2.webp" alt="">
  </div>

</header>
