<div class="section4 section section-back">
    <div class="container">
        <img  class="img" src="img/4.webp" alt="">

        <div class="payment-module">
          <div class="payment-module__content">
            <h2 class="title">МОДЕЛЬ <br>
              ОПЛАТЫ CPC</h2>
            <p><strong>TeleGate</strong> единственный поставщик среди <br>
              платформ операторов рекламы в Telegramm <br>
              с базовой моделью оплаты по CPC. </p>
            <p>Это возможно только благодаря наличию <br>
              большой сети собственных каналов и<br>
              широкой аудитории подписчиков</p>
          </div>

            <div class="payment-module__img">
              <img src="img/payment-module1.webp" alt="">
            </div>

        </div>

    </div>
</div>
