
<div class="section13 section">
  <div class="container">
    <img  class="img" src="img/13.webp" alt="">
    <h2 class="section14__title"><span class="section14__span">КЕЙС </span>
      <br>TeleGate для CORDIANT
    </h2>
    <div class="section14-inner">
      <div class="section14-inner__text">
        <ul class="section13__text-list">
          <li class="text-list__item">Период:
            <span>сентябрь 2022</span>
          </li>
          <li class="text-list__item"> Количество кликов: <span> 3500</span></li>
          <li class="text-list__item">
            Стоимость клика: <span>75</span> </li>
          <li class="text-list__item">Форматы:
            <span>пост, ссылка, банеры</span>
          </li>
          <li class="text-list__item">Вариантов креативов: <span>3</span>
          </li>
          <li class="text-list__item"> Количество каналов: <span>72</span> </li>
          <li class="text-list__item"> Тематики каналов: <span> экомномика,путешествия,авто,спорт,транспорт</span> </li>
        </ul>
      </div>
      <div class="section14-inner__image">
        <img src="../img/section13.png" alt="">
      </div>
    </div>

  </div>
</div>
