<div id="solution" class="section10 section">
  <div class="container">
    <!--<img class="img" src="img/10.webp" alt="">-->
    <div class="solution">
      <h2 class="title">TELEGATE РЕШАЕТ</h2>
      <h3>ПОЛНЫЙ ЦИКЛ ЗАДАЧ СТОЯЩИЙ ПЕРЕД <br>
        МАРКЕТИНГОВЫМИ КОММУНИКАЦИЯМИ</h3>

      <div class="solution__list">

        <div class="solution__item">
          <div class="solution_title">Задачи </div>
          <div class="solution_li">
            <div class="decoration"></div>
            <p>Первичный контакт <br>
              с аудиторией,<br>
              максимизация охвата</p>
          </div>
          <div class="solution_li">
            <div class="decoration"></div>
            <p>Выбор марки <br>
              из имеющихся <br>
              альтернатив, длительный <br>
              персонализированный <br>
              контакт, таргетинг <br>
              по тематикам</p>
          </div>
          <div class="solution_li">
            <div class="decoration"></div>
            <p>Финальный выбор <br>
              конкретного продукта <br>
              или услуги</p>
          </div>
        </div>
        <div class="solution__item">
          <div class="solution_title"><img src="img/section10-logo.webp" alt="">Инвентарь </div>
          <div class="solution_li">
            <div class="decoration"></div>
            <p>Банерная <br>
              и видео реклама</p>
          </div>
          <div class="solution_li">
            <div class="decoration"></div>
            <p>Видео реклама</p>
          </div>
          <div class="solution_li">
            <div class="decoration"></div>
            <p>Персонализированная <br>
              реклама с QR кодом <br>
              на скидку /лидогенерация <br>
              реклама</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
