<div class="section1 section">
    <div class="container">
        <img class="img" src="img/1.webp" alt="">

        <h2 class="title">КАК ЭТО 
            РАБОТАЕТ</h2>

        <ul class="list-reset how-works__list">
            <li class="how-works__item">
                <div class="how-works__img">
                    <img src="img/s-i-1.webp" alt="">
                </div>
                <div class="how-works__head">
                    Собственная сеть 
                    телеграмм каналов + партнерские сети
                </div>
                <div class="how-works__content">
                    Выбираем тематики <br>
                    <strong>
                        Определяем тип<br>
                         стратегии Размещаем<br> 
                         креативы и <br>
                         оптимизируем <br>
                         размещение

                    </strong>
                    
                </div>

            </li>

            <li class="how-works__item">
                <div class="how-works__img">
                    <img src="img/s-i-2.webp" alt="">
                </div>
                <div class="how-works__head">
                    Банерный <br>
                    и видео инвентарь
                </div>
                <div class="how-works__content">
                    В зависимости <br>
                    от задачи  <strong>можем <br>
                    применять любые  <br>
                    традиционные для  <br>
                    медиаразмещений  <br>
                    типы инвентаря
                    </strong>
                </div>

            </li>
            
            <li class="how-works__item">
                <div class="how-works__img">
                    <img src="img/s-i-3.webp" alt="">
                </div>
                <div class="how-works__head">
                    Результат
                </div>
                <div class="how-works__content">
                    Получаем клики <br>
и конверсии <br>
<strong>сравнимые <br>
по качеству с инста <br>
и fb лидами</strong>
                </div>

            </li>


        </ul>

    </div>
</div>
