<div class="section12 section section-back">
    <div class="container">
        <!--<img  class="img" src="img/12.webp" alt="">-->
            <h2 class="section12__title title">Команда </h2>
        <div class="section12__items">
          <div class="section12__items_item">
            <img class="section12__item-image" src="../img/1-min.png" alt="">
            <h3 class="section12__item-title">Микаэль <br> Гусейнов</h3>
            <p class="section12__item-caption">Marketing</p>
          </div>
          <div class="section12__items_item">
            <img class="section12__item-image" src="../img/2-min.png" alt="">
            <h3 class="section12__item-title">Айна <br> Кочумова</h3>
            <p class="section12__item-caption">Accounting</p>
          </div>
          <div class="section12__items_item">
            <img class="section12__item-image" src="../img/3-min.png" alt="">
            <h3 class="section12__item-title">Роман <br> Юдин</h3>
            <p class="section12__item-caption">cto</p>
          </div>
          <div class="section12__items_item">
            <img class="section12__item-image" src="../img/4-min.png" alt="">
            <h3 class="section12__item-title">Александр <br> Морозов </h3>
            <p class="section12__item-caption">Sales</p>
          </div>
        </div>
    </div>
</div>
