<div class="section6 section">
    <div class="container">
       <!-- <img  class="img" src="img/6.webp" alt="">-->
        <div class="statistics">
          <h2 class="title  wow animate__slideInLeft">СТАТИСТИКА <br>
            И ОТЧЕТНОСТЬ
          </h2>
          <div class="statistics__container wow animate__slideInUp">
            <div class="statistics__left">
              <p>Dashboard статистики <br>
                в реальном времени.
                </p>
              <p>Пиксели на клик</p>
              <img src="img/section6-2-min.webp" alt="">
            </div>
            <div class="statistics__right">
              <img src="img/section6-1-min.webp" alt="">
            </div>
          </div>

        </div>
    </div>
</div>
