<div class="section14 section">
  <div class="container">
    <img class="img" src="img/14.webp" alt="">
    <h2 class="section14__title"><span class="section14__span">КЕЙС </span>
      <br>TeleGate для ЖК Headliner
    </h2>
    <div class="section14-inner">
      <div class="section14-inner__text">
        <ul class="section13__text-list">
          <li class="text-list__item">Период:
            <span>июль 2022</span>
          </li>
          <li class="text-list__item"> Количество звонков: <span> 135</span></li>
          <li class="text-list__item">
            Стоимость звонка: <span>12 027</span> </li>
          <li class="text-list__item">Форматы:
            <span>пост, ссылка, банеры</span>
          </li>
          <li class="text-list__item">Вариантов креативов: <span>5</span>
          </li>
          <li class="text-list__item"> Количество каналов: <span>88</span> </li>
          <li class="text-list__item"> Тематики каналов: <span> финансы, недвижимость, путешествия</span> </li>
        </ul>
      </div>
      <div class="section14-inner__image">
        <img src="../img/section14.png" alt="">
      </div>
    </div>

  </div>
</div>
