<div  id="case1"  class="section13 section section_custom">
  <div class="container">
    <!--<img class="img" src="img/13.webp" alt="">-->
    <h2 class="section14__title title  wow animate__slideInLeft">КЕЙС
    </h2>
    <h3 class=" wow animate__slideInLeft">TeleGate для CORDIANT</h3>
    <div class="section14-inner">
      <div class="section14-inner__text  wow animate__slideInLeft">
        <ul class="section13__text-list ul-reset">
          <li class="text-list__item">
            <div>Период:</div>
            <span>сентябрь 2022</span>
          </li>
          <li class="text-list__item">
            <div>Количество кликов:</div>
            <span> 3 500</span>
          </li>
          <li class="text-list__item">
            <div>Стоимость клика:</div>
            <span>75</span>
          </li>
          <li class="text-list__item">
            <div>Форматы:</div>
            <span>пост, ссылка, банеры</span>
          </li>
          <li class="text-list__item">
            <div>Вариантов креативов:</div>
            <span>3</span>
          </li>
          <li class="text-list__item">
            <div>Количество каналов:</div>
            <span>72</span>
          </li>
          <li class="text-list__item">
            <div>Тематики каналов:</div>
            <span> экомномика, путешествия,<br>
              авто, спорт, транспорт</span>
          </li>
        </ul>
      </div>
      <div class="section13-inner__image wow animate__slideInRight">
        <img src="../img/section13.png" alt="">
      </div>
    </div>

  </div>
</div>
