<div class="section2 section">
    <div class="container">
        <img  class="img" src="img/2.webp" alt="">
        <div class="architecture">
          <h2 class="title">АРХИТЕКТУРА <br>
            ПЛАТФОРМЫ</h2>

          <ul class="ul-reset">
            <li><img src="img/arhitek1.webp" alt="">
              <div>
                Базовый охват <br>
                Дополнительный охват
              </div>

              </li>
            <li><img src="img/arhitek2.webp" alt="">
              <div>

                Модуль аналитики <br> эффективности тематик
              </div>
            </li>
            <li><img src="img/arhitek3.webp" alt="">
              <div>
                Расширение аудитории*
                <p>* Channels Look-a-Like
                  <small>Тематический таргетинг и расширение аудитории на основе интересов</small>
                  </p>
              </div>
              </li>
          </ul>
        </div>
    </div>
</div>
