<div class="section3 section section-back">
    <div class="container">
        <!--<img  class="img" src="img/3.webp" alt="">-->
        <div class="differences">

          <div class="differences__text">Ключевое отличие <strong>TeleGate</strong> от бирж трафика в наличии собственной сети каналов с постоянно растущей базой подписчиков и команды редакторов. Это позволяет без задержек запускать широко охватные кампании и предоставлять отчетность</div>

          <ul class="differences__list ul-reset">
            <li>
              <div class="differences__list-first">
                <div>20</div>
                <div>Тематик</div>
              </div>
            </li>
            <li>
              <div class="h3">КАСТОМНЫЕ <br>
                СЕГМЕНТЫ <br>
                КЛАССИЧЕСКИХ <br>
                ИНТЕРЕСОВ
                </div>
              <p>финансы, путешествия,<br> недвижимость
              </p>
            </li>
            <li>
              <div class="h3">СПЕЦИАЛИ- <br>
                ЗИРОВАННЫЕ <br>
                СЕГМЕНТЫ
                </div>
              <p>новости культурной жизни,<br>
                шоппинг гиды, отраслевые<br>
                тематики|
              </p></li>
            <li>
              <div class="h3">BRAND <br>
                SAFETY
                </div>
              <p>только каналы<br>
                с корректной<br>
                редакторской политикой,<br>
                без кликбэйт контента</p></li>
          </ul>

          <div class="differences__img">
            <img src="img/differences1.webp" alt="">
          </div>

        </div>


    </div>
</div>
