<div class="section10 section">
    <div class="container">
        <img  class="img" src="img/10.webp" alt="">
        <div class="solution">
          <h2 class="title">TELEGATE РЕШАЕТ</h2>
          <h3>ПОЛНЫЙ ЦИКЛ ЗАДАЧ СТОЯЩИЙ ПЕРЕД <br>
            МАРКЕТИНГОВЫМИ КОММУНИКАЦИЯМИ</h3>

            <div class="solution__list">
              <div class="solution__item">
                <img src="img/section10.webp" alt="">
              </div>
              <div class="solution__item">
                <div class="solution_title" >Задачи </div>
                <div class="solution_li">
                  <p>Первичный контакт
                    с аудиторией,
                    максимизация охвата</p>
                </div>
                <div class="solution_li">
                  <p>Выбор марки
                    из имеющихся
                    альтернатив, длительный персонализированный
                    контакт, таргетинг
                    по тематикам</p>
                </div>
                <div class="solution_li">
                  <p>Финальный выбор
                    конкретного продукта
                    или услуги</p>
                </div>
              </div>
              <div class="solution__item">
                <div class="solution_title" > </div>
                <div class="solution_li">
                  <p>Банерная
                    и видео реклама</p>
                </div>
                <div class="solution_li">
                  <p>Видео реклама</p>
                </div>
                <div class="solution_li">
                  <p>Персонализированная реклама с QR кодом
                    на скидку /лидогенерация
                     реклама</p>
                </div>
              </div>
            </div>

        </div>
    </div>
</div>
