<div class="section7 section section-back">
    <div class="container">
        <!--<img  class="img" src="img/7.webp" alt="">-->
        <div class="statistics">
          <h2 class="title">ТИПЫ ДОСТУПНЫХ
            СТРАТЕГИЙ
          </h2>
          <div class="statistics__container">
            <div class="statistics__left">
              <h3>ОПТИМИЗАЦИИ В ДАШБОРДЕ</h3>

              <ul class="ul-reset">
                <li>Оптимизация стратегии: «тематики»</li>
                <li>Оптимизация стратегии: «конверсии»</li>
              </ul>
            </div>
            <div class="statistics__right">
              <img src="img/section7-1.webp" alt="">
            </div>
          </div>

        </div>
    </div>
</div>
