<div class="section14 section section_custom">
  <div class="container">
    <!--<img class="img" src="img/14.webp" alt="">-->
    <h2 class="section14__title title">КЕЙС
    </h2>
    <h3>TeleGate для ЖК Headliner</h3>
    <div class="section14-inner">
      <div class="section14-inner__text">
        <ul class="section14__text-list ul-reset">
          <li class="text-list__item">
            <div>Период:</div>
            <span>июль 2022</span>
          </li>
          <li class="text-list__item">
            <div>Количество звонков:</div>
            <span> 135</span>
          </li>
          <li class="text-list__item">
            <div>Стоимость звонка:</div>
            <span>12 027</span>
          </li>
          <li class="text-list__item">
            <div>Форматы:</div>
            <span>пост, ссылка, банеры</span>
          </li>
          <li class="text-list__item">
            <div>Вариантов креативов:</div>
            <span>5</span>
          </li>
          <li class="text-list__item">
            <div>Количество каналов:</div>
            <span>88</span>
          </li>
          <li class="text-list__item">
            <div>Тематики каналов:</div>
            <span> финансы, недвижимость, <br> путешествия</span>
          </li>
        </ul>
      </div>
      <div class="section14-inner__image">
        <img class="section14__image" src="../img/section14.png" alt="">
      </div>
    </div>

  </div>
</div>
