// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";

@import "./components/footer";
@import "./components/sectiom";
@import "./components/section4";
@import "./components/section5";
@import "./components/section6";
@import "./components/section7";
@import "./components/section8";
@import "./components/section9";
@import "./components/section10";
@import "./components/section11";
@import "./components/section12";
@import "./components/section13";
@import "./components/section14";


